<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django App</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<section class="navigation-section">
    <div class="navigation-section-container">
        <nav class="navigation d-flex justify-content-center mb-2 pt-2">
            <a href="{% url 'home' %}"><button class="btn btn-info mr-2">Home</button></a>
            <a href=""><button class="btn btn-info mr-2">Add Products</button></a>
            <a href=""><button class="btn btn-info mr-2">View Products</button></a>
            <a href="{% url 'register' %}"><button class="btn btn-info mr-2">Register</button></a>
            <a href="{% url 'login' %}"><button class="btn btn-info mr-2">Login</button></a>
            <a href="{% url 'logout' %}"><button class="btn btn-info mr-2">Logout</button></a>
        </nav>
    </div>
</section>

{% if messages %}
    {% for message in messages%}
    <p class="text-success text-center">{{ message }}</p>
    {% endfor %}
{% endif %}

{% block content %}

{% endblock %}
</body>
</html>